<a href="https://colab.research.google.com/github/ManasviAtGitHub/Business-Intelligence/blob/main/Recommendation_based_on_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

These datasets are hosted on: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

They were originally published by: Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
cd drive/MyDrive/practice_datasets/

/content/drive/MyDrive/practice_datasets

In [ ]:
frame =  pd.read_csv('rating_final.csv')
cuisine = pd.read_csv('chefmozcuisine.csv')
geodata = pd.read_csv('geoplaces2.csv', encoding='latin-1')

In [ ]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [ ]:
geodata.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

In [ ]:
places = geodata[['placeID', 'name']]
places.head()

   placeID                            name
0   134999                 Kiku Cuernavaca
1   132825                 puesto de tacos
2   135106      El Rincón de San Francisco
3   132667  little pizza Emilio Portes Gil
4   132613                   carnitas_mata

In [ ]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [ ]:
rating = pd.DataFrame(frame.groupby('placeID')['rating'].mean())
rating.head()

         rating
placeID
132560     0.50
132561     0.75
132564     1.25
132572     1.00
132583     1.00

In [ ]:
rating['rating_count'] = pd.DataFrame(frame.groupby('placeID')['rating'].count())
rating.head()

         rating  rating_count
placeID
132560     0.50             4
132561     0.75             4
132564     1.25             4
132572     1.00            15
132583     1.00             4

In [ ]:
rating.describe()

           rating  rating_count
count  130.000000    130.000000
mean     1.179622      8.930769
std      0.349354      6.124279
min      0.250000      3.000000
25%      1.000000      5.000000
50%      1.181818      7.000000
75%      1.400000     11.000000
max      2.000000     36.000000

In [ ]:
rating.sort_values('rating_count', ascending=False).head(10)

           rating  rating_count
placeID
135085   1.333333            36
132825   1.281250            32
135032   1.178571            28
135052   1.280000            25
132834   1.000000            25
135038   1.208333            24
135060   1.136364            22
135062   1.238095            21
135042   1.250000            20
132862   1.388889            18

Most popular place according to highest number of rating recieved

In [ ]:
places[places['placeID']==135085]

     placeID                    name
121   135085  Tortas Locas Hipocampo

Type of cuisine most popular place is serving

In [ ]:
cuisine[cuisine['placeID']==135085]

    placeID   Rcuisine
44   135085  Fast_Food

In [ ]:
places_crosstab = pd.pivot_table(data=frame, values='rating', index='userID', columns='placeID')
places_crosstab.head()

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
U1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
U1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
U1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
places_crosstab.columns

Int64Index([132560, 132561, 132564, 132572, 132583, 132584, 132594, 132608,
            132609, 132613,
            ...
            135080, 135081, 135082, 135085, 135086, 135088, 135104, 135106,
            135108, 135109],
           dtype='int64', name='placeID', length=130)

In [ ]:
places_crosstab.loc[:, [135076, 135085]].head(20)

placeID  135076  135085
userID
U1001       NaN     0.0
U1002       NaN     1.0
U1003       NaN     NaN
U1004       NaN     NaN
U1005       2.0     NaN
U1006       NaN     NaN
U1007       NaN     1.0
U1008       NaN     NaN
U1009       NaN     NaN
U1010       1.0     NaN
U1011       NaN     NaN
U1012       NaN     NaN
U1013       1.0     1.0
U1014       1.0     NaN
U1015       NaN     NaN
U1016       NaN     2.0
U1017       NaN     NaN
U1018       NaN     NaN
U1019       0.0     NaN
U1020       NaN     NaN

In [ ]:
TLH_ratings = places_crosstab[135085]
TLH_ratings[TLH_ratings>=0]

userID
U1001    0.0
U1002    1.0
U1007    1.0
U1013    1.0
U1016    2.0
U1027    1.0
U1029    1.0
U1032    1.0
U1033    2.0
U1036    2.0
U1045    2.0
U1046    1.0
U1049    0.0
U1056    2.0
U1059    2.0
U1062    0.0
U1077    2.0
U1081    1.0
U1084    2.0
U1086    2.0
U1089    1.0
U1090    2.0
U1092    0.0
U1098    1.0
U1104    2.0
U1106    2.0
U1108    1.0
U1109    2.0
U1113    1.0
U1116    2.0
U1120    0.0
U1122    2.0
U1132    2.0
U1134    2.0
U1135    0.0
U1137    2.0
Name: 135085, dtype: float64

In [ ]:
%%capture
similar_to_TLH = places_crosstab.corrwith(TLH_ratings)

corr_TLH = pd.DataFrame(similar_to_TLH, columns=['PearsonR'])
corr_TLH.dropna(inplace=True)

In [ ]:
corr_TLH.head()

         PearsonR
placeID
132572  -0.428571
132723   0.301511
132754   0.930261
132825   0.700745
132834   0.814823

In [ ]:
TLH_corr_summary = corr_TLH.join(rating['rating_count'])

In [ ]:
TLH_corr_summary.head()

         PearsonR  rating_count
placeID
132572  -0.428571            15
132723   0.301511            12
132754   0.930261            13
132825   0.700745            32
132834   0.814823            25

In [ ]:
TLH_corr_summary.sort_values('PearsonR', ascending=False).head(10)

         PearsonR  rating_count
placeID
135076   1.000000            13
132922   1.000000             6
135085   1.000000            36
132937   1.000000             4
132925   1.000000             5
135066   1.000000            12
135053   1.000000             8
132754   0.930261            13
135045   0.912871            13
135062   0.898933            21

In [ ]:
TLH_corr_summary[TLH_corr_summary['rating_count']>=10].sort_values('PearsonR', ascending=False).head(10)

         PearsonR  rating_count
placeID
135076   1.000000            13
135085   1.000000            36
135066   1.000000            12
132754   0.930261            13
135045   0.912871            13
135062   0.898933            21
135028   0.892218            15
135042   0.881409            20
135046   0.867722            11
132872   0.840168            12

In [ ]:
places_corr_TLH = pd.DataFrame([135085,135076,135066, 132754, 135045, 135062, 135028, 135042, 135046], columns=['placeID'])
places_corr_TLH

   placeID
0   135085
1   135076
2   135066
3   132754
4   135045
5   135062
6   135028
7   135042
8   135046

In [ ]:
summary = pd.merge(places_corr_TLH, cuisine,on='placeID')
summary

   placeID   Rcuisine
0   135085  Fast_Food
1   132754    Mexican
2   135028    Mexican
3   135042    Chinese
4   135046  Fast_Food

In [ ]:
places[places['placeID']==135046]

    placeID                     name
42   135046  Restaurante El Reyecito